html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: Overpass, sans-serif;
}

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

section {
  background-image: linear-gradient(#ff9500, #ff5e3a);
  background-repeat: no-repeat;
  color: #fff;
  padding: 6vmin;
  gap: 6vmin;
  display: grid;
  grid-template-areas: "header" "one" "two" "three";
}

h2 {
  color: #fff;
  font-size: 2rem;
  justify-self: center;
  margin: 0;
  grid-area: header;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

div h3 {
  margin-top: 0;
  font-size: 1.5rem;
}

.icon svg {
  margin-bottom: 0;
  fill: currentColor;
  width: 8em;
  padding-top: 0;
  margin-top: 0;
}

a {
  text-align: center;
  text-decoration: none;
  border-style: solid;
  padding: 1rem;
  font-size: 1rem;
  margin-top: 1.5rem;
  color: #fff;
}

p {
  margin: 0;
  padding-top: 0;
}

a:hover {
  background-color: #fff;
  color: orange;
}

@media only screen and (min-width: 38em) {

  section {
    grid-template-areas:
      "header header header"
      "one two three";
  }

}

/*
@media only screen and (min-wdith:38em) {
  section {
    grid-template-columns: 1fr 1fr 1fr;
  }
*/
